-i https://pypi.org/simple/
bleach==3.1.4
certifi==2019.11.28
chardet==3.0.4
cymem==2.0.3
cytoolz==0.9.0.1
dill==0.2.9
docutils==0.16
idna==2.9
iwnlp==0.1.7
msgpack-numpy==0.4.3.2
msgpack==0.5.6
murmurhash==1.0.2
numpy==1.18.2
pkginfo==1.5.0.1
plac==0.9.6
preshed==2.0.1
pygments==2.6.1
readme-renderer==25.0
regex==2018.1.10
requests-toolbelt==0.9.1
requests==2.23.0
six==1.14.0
spacy-iwnlp==0.0.2
spacy==2.0.16
thinc==6.12.1
toolz==0.10.0
tqdm==4.44.1
twine==1.12.1
ujson==2.0.3
urllib3==1.25.8
webencodings==0.5.1
wheel==0.32.3
wrapt==1.10.11
