-i https://pypi.org/simple/
bleach==3.3.0
certifi==2021.5.30
chardet==4.0.0
cymem==2.0.5
cytoolz==0.9.0.1
dill==0.2.9
docutils==0.17.1
idna==2.10
iwnlp==0.1.7
msgpack-numpy==0.4.3.2
msgpack==0.5.6
murmurhash==1.0.5
numpy==1.20.3
packaging==20.9
pkginfo==1.7.0
plac==0.9.6
preshed==2.0.1
pygments==2.9.0
pyparsing==2.4.7
readme-renderer==29.0
regex==2018.1.10
requests-toolbelt==0.9.1
requests==2.25.1
six==1.16.0
spacy-iwnlp==0.0.2
spacy==2.0.16
thinc==6.12.1
toolz==0.11.1
tqdm==4.61.0
twine==1.12.1
ujson==4.0.2
urllib3==1.26.5
webencodings==0.5.1
wheel==0.32.3
wrapt==1.10.11
